.main {
    position: relative;
    height: 100%;
}

.main-head {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 16px 0 24px;
    /* background-color: #6dd5ed; */
}

.head-image {
    display: flex;
    align-items: center;
}
.maxSize {
    flex-grow: 1;
    transition: margin-left 0.3s ease;
}
.maxSize.shifted {
    margin-left: 70px;
}